:root {
    --primary-text: 
        font-family: 'Roboto', sans-serif;
        -color: #B6B6B6;
        line-height: 22px;
    --primary-title: #333333;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    --third-text: #F38181;
    --secondary-text-title: #95E1D3
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 14px;
    --fourth-text: #333333
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    --primary-button-color: #95E1D3;
}

